html{
    box-sizing: border-box;
}
*,*::before, *::after{
    box-sizing:inherit;
}
body{
    margin:0;
    padding:0;
    background-color: bisque;
    display: flex;
    flex-flow: column nowrap;
}

#container{
    width: 1000px;
    height: 1000px;
    display:flex;
    flex-flow: row wrap;
    align-content: flex-start
}
.colorTile{
    background-color: white;
    border: 1px black solid;
    width:20px;
    height:20px;
    flex: 0 1 auto;
    margin: 0px;
    padding: 0px;
}