html{
    box-sizing: border-box;
}
*,*::before, *::after{
    box-sizing:inherit;
}
body{
    background-color: bisque;
}
#container{
    width: 1000px;
    height: 1000px;
    display:flex;
    flex-flow: row wrap;
    align-content: flex-start
}
.colorTile{
    background-color: white;
    border: 1px black solid;
    width:25px;
    height:25px;
    flex: 0 1 auto;
    margin: 0px;
    padding: 0px;
}